body
{
    background-color: #edeef2;
}
.create
{
    border: solid 5px #f8f9fc !important;
    border-radius: 5px;
    color: #343a40 !important;
}
.create:hover
{
    border: solid 5px #343a40 !important;
    border-radius: 5px;
    background-color: #343a40 !important;
    color: #f8f9fc !important;
    text-decoration: none;
}
.buttonStyle, .card-header
{
    background-color: #f8f9fc;
}
.buttonStyle
{
    border: solid 3px #f8f9fc;
}
.buttonStyle:hover
{
    color: white !important;
    background-color: #343a40 !important;
    border: solid 3px #d2c5b4 !important;
}
.returnLink
{
    color: black;
}
.returnLink:hover
{
    color: #343a40;
    text-decoration: none;
}
#pills-tab .nav-link.active, #pills-tab .nav-link:hover, #pills-tab .nav-link.active:hover, .plus:hover, .readArticle
{
    background-color: #343a40 !important;
    color: white !important;
    font-weight: bold;
}
.readArticle:hover
{
    background-color: white !important;
    color: #343a40 !important;
    font-weight: bold;   
}
.actionBtn
{
    color: #d2c5b4;
    background: none;
    border: none;
}
.actionBtn:hover
{
    color: white;
}
.deleteBtn
{
    color: #343a40;
    background: none;
    border: none;
    padding: 0;
}
.deleteBtn:hover
{
    color: #d2c5b4;
}
.page-link
{
    color: black!important;
}
.page-link:hover, .page-link:active
{
    color: white!important;
    background-color: #343a40!important;
}
.page-item.active .page-link
{
    color: white!important;
    background-color: #343a40!important;
    border-color: white!important;
}
.cream, .user-cream, form label, table th
{
    color: #d2c5b4 !important;
}
.navbar-dark .navbar-nav .nav-link:hover
{
    color: white!important;
}
@media all and (max-width: 959px)
{
    li #separator
    {
        display: none;
    }
}