{% extends 'base.html.twig' %}

{% block title 'Espace élève | MonEcole' %}

{% block body %}

    <div id="" class="d-flex align-content-center flex-wrap" style="background-color: lightgrey; height: 600px;">
        <h1 class="mx-auto">Bienvenue sur votre espace eleve</h1>
    </div>

{% endblock %}