{% extends 'base.html.twig' %}

{% block title 'Creation d\'article | MonEcole' %}

{% block body %}
    <div class="container mt-4 mx-auto">

        <h1 class="">Créer un article</h1>

        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-primary">Créer</button>
        {{ form_end(form) }}

    </div>
{% endblock %}