{% extends 'base.html.twig' %}

{% block title 'Accueil | MonEcole' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur la page d'accueil</h1>
    </div>
{% endblock %}