<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{{ path('home') }}">Mon Ecole</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('dashboard.index') }}">
                    <i class="fas fa-home px-2"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="{{ path('admin.message.index') }}">
                    <i class="fas fa-envelope"></i>
                    <span class="badge badge-danger"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light" href="{{ path('logout') }}" role="button">Se deconnecter</a>
            </li> 
        </ul>
    </div>
</nav>